xsd.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="books">
  <xs:complexType>
    <xs:sequence>
      <xs:element type="xs:string" name="heading"/>
      <xs:element name="book" maxOccurs="5" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element type="xs:string" name="title"/>
            <xs:element type="xs:string" name="faculty"/>
            <xs:element type="xs:string" name="author"/>
            <xs:element type="xs:string" name="publisher"/>
            <xs:element type="xs:string" name="edition"/>
            <xs:element name="price" >
      <xs:simpleType>
        <xs:restriction base="xs:integer">
          <xs:minInclusive value="0"/>
          <xs:maxInclusive value="10000"/>
        </xs:restriction>
      </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:element>
       
        
      
</xs:schema>